* {
  padding: 0;
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #EAE7DC;
}

.App {
  text-align: center;
}

.header {
  min-height: 100vh;
  display: flex;
  position: relative;
  align-items: stretch;
  font-size: calc(5px + 2vmin);
  margin-bottom: 26vh;
}

.circle {
  position: absolute;
  top: -151vh;
  left: -150vw;
  width: 200vw;
  height: 300vh;
  background: #777776;
  border: 3px solid #A6B1EB;
  transform: rotate(180deg);
  border-radius: 100%;
  z-index: 1;
}

.header__logo {
  z-index: 2;
  display: inherit;
  align-items: center;
  justify-content: center;
  color: #A6B1EB;
  padding-left: 5vw;
}

.header__logo h4{
  font-size: calc(10px + 1vmin);
}

.header__info {
  position: absolute;
  left: 55%;
  top: 42.5%;
  display: inherit;
  align-items: center;
  justify-content: center;

}