.container{
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: calc(5px + 1vh);
}

.container > a {
	list-style: none;
	text-decoration: none;
	color: inherit;
	border-top: 1px solid #66f1fa;
	width: 99vw;
}

.container_project{
	padding: 5vh;
	transition: font-size 1s;
}

.container_project:hover {
	font-size: calc(10px + 1vh);
}

.container_project > h1 {
	color: #66f1fa;
	padding: 5vw;
}

.container_project>p{
	padding-bottom: 5vw;
	color: #59CFD7;
}